body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}
.game-container {
  margin-top: 50px;
}
.words {
  font-size: 24px;
  margin: 20px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
}
.result {
  font-size: 20px;
  margin-top: 20px;
}
.timer {
  font-size: 22px;
  color: red;
}
.score {
  font-size: 22px;
  margin-top: 30px;
}

.level {
  font-size: 20px;
  margin-top: 10px;
}
